* {
  border: 1px solid black;
  font-family: "Quicksand", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
}

nav,
main,
#options-box {
  display: flex;
}

main {
  width: 50%;
  justify-content: left;
  align-items: start;
}
main,
#options-box {
  flex-direction: column;
}

.button {
  cursor: pointer;
  background-color: green;
  box-shadow: 2px 2px 5px black;
  margin: 5px;
  font-size: 200%;
  padding: 10px;
}

.button:hover {
  opacity: 0.8;
}
